@import url('https://fonts.googleapis.com/css?family=Lato:300')

body {
	text-align: center;
	background-color: #cccccc;
}

#image1 {
	margin: auto;
}

#intro {
	background-color: #FFE2B8;
}

header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #e8c66a;
	font: 'Lato', 'sans-serif';
}

aside {
	background-color: #ffc675;
}

article {
	background-color: #e89c6c;
}

div {
	background-color: #ffe2b8;
}

footer {
	background-color: #ff957e;
}

h1 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	font: 'Lato', 'sans-serif';
}

h1 span {
	float: center;
	margin: 6em;
	color: white;
	font: 64px/75px 'Lato', 'sans-serif';
	letter-spacing: 1.5px;
	line-height: 100px;
	background: rgb(0,0,0); 
	background: rgba(0,0,0,0.8);
}

p, #intro {
	font: 'Lato';
	padding: 20px;
	color: black;
	top: 400px;
	font: 20px;
	letter-spacing: 1.2px;
}

#slogan {
	background-color: #FAE2B8;
	text-decoration: bold
	font: 'Lato'
}
